.logo {
  position: absolute;
  @include flexCenterY;
  z-index: 5;
  right: 20px;
  height: 100%;
  width: auto;
  margin-right: 30px;
  color: white;
  font-family: 'Dancing Script', "cursive";
  text-shadow: 0px 0px 15px rgba(255,255,255,0.85);
  opacity: 0.75;
  animation: glowing 4s infinite;
  & > span {
    margin: 5px;
    letter-spacing: 2px;
  }
  & > .glass {
    font-size: 1.2em;
  }
  & > .nightlife {
    font-size: 1.4em;
  }
}

@keyframes glowing {
  0% { text-shadow: 0px 0px 15px rgba(255,255,255,0.8); opacity: 0.75; }
  50% { text-shadow: 0px 0px 40px rgb(255,255,255); opacity: 0.9; }
  100% { text-shadow: 0px 0px 15px rgba(255,255,255,0.8); opacity: 0.75; }
}
