//transitions
@import './transitions/searchbarTransition';
@import './transitions/searchTransition';
//containers
@import './containers/searchResults';
@import './containers/searchInput';
@import './containers/searchButtons';
//componets
@import './components/searchPanel';
@import './components/googleMap';
@import './components/searchTitle';

.citylight {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: {
    image: url('../images/citylight-small.jpg');
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
    position: center;
  }
  @include breakpoint(laptop) {
    background-image: url('../images/citylight.jpg');
  }
}
