@mixin linearGradient($direction,$first,$second,$third,$fourth,$fifth) {
    background: linear-gradient($direction, $first 0%, $second 20%, $third 30%, $fourth 60%, $fifth 100%);
}

@mixin boxShadow($x,$y,$blur,$spread,$color,$inset:false) {
  @if $inset {
    box-shadow: inset $x $y $blur $spread $color;
  } @else {
    box-shadow: $x $y $blur $spread $color;
  }
}

@mixin blur($value) {
  filter: blur($value);
}

@mixin flexCenterX {
	display: flex;
	justify-content: center;
}

@mixin flexCenterY {
  display: flex;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
	justify-content: center;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin breakpoint($class) {
  @if $class == phoneHorizontal {
    @media (min-width: 480px) and (orientation:landscape) { @content; }
  }
  @else if $class == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $class == laptop {
    @media (min-width: 1024px) { @content; }
  }
  // @else if $class == desktop {
  //   @media (min-width: 1280px) { @content; }
  // }
}
