.btn {
  @include flexCenter;
  display: block;
  position: relative;
  margin-top: 30px;
  width: 55%;
  min-height: 55px;
  box-shadow: 1px 3px 17px 1px rgba(0,0,0,0.8);
  background-color: $contrastColor;
  border-color: $contrastColorDarker;
  border-radius: 3px;
  color: white;
  font-size: 22px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    background-color: darken($contrastColor, 10%);
    border-color: darken($contrastColorDarker, 10%);
  }
  &:active {
    background-color: darken($contrastColor, 20%);
    border-color: darken($contrastColorDarker, 20%);
  }
  .link {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.titleText {
  text-shadow: black 1px 1px 10px, black 1px 1px 10px;
  font-size: 32px;
}
