.aboutContent {
  z-index: 4;
  position: relative;
  top: 28px;
  @include flexCenter;
  @include flexColumn;
  width: 85%;
  height: 75%;
  border-radius: 4px;
  color: white;
  text-align: center;
  .about {
    text-shadow: #333 1px 1px 10px, #333 1px 1px 10px;
    border: 1px solid $contrastColor;
    background-color: rgba(0,0,0,0.9);
    border-radius: 5px;
    padding: 4% 8%;
    .icon {
      width: auto;
      height: 70px;
      margin: 10px;
    }
    h3 {
      text-shadow: #333 1px 1px 10px;
      margin: 10px;
    }
  }
}
