.searchContainerSimple {
  border: 1px solid $contrastColor;
  position: relative;
  width: auto;
  background-color: rgba(0,0,0,0.9);
  padding: 30% 20%;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.75);
  @include breakpoint(tablet) {
    padding: 26% 20%;
  }
  @include breakpoint(laptop) {
    padding: 22% 20%;
  }
  border-radius: 5px;
  @include flexColumn;
}

.searchContainerComplex {
  display: flex;
  @include flexRow;
  @include flexCenter;
  justify-content: space-around;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.75);
  background-color: rgba(0,0,0,0.2);
  .searchResults {
    @include flexColumn;
    @include flexCenterX;
    position: absolute;
    top: 55px;
    @include breakpoint(laptop) {
      position: relative;
      top: 20px;
    }
    @import '../objects/specialButton';
  }
  .nextBarButtonContainer {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    @include flexCenterX;
    @import '../objects/specialButton';
    @include breakpoint(laptop) {
      display: none;
    }
  }
}
