@import './components/content';
@import '../../objects/form';

.bgLogin {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: {
    image: url('../images/bgLogin.jpg');
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
    position: center;
  }
  @include breakpoint(laptop) {
    background-image: url('../images/bgLogin.jpg');
  }
}
